
@mixin aspect-ratio($width, $height, $max_width) {
  position: relative;
  max-width: $max_width;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.sixteen-nine-800w {
  @include aspect-ratio(16, 9, 800);
}
